# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/target
.classpath
.factorypath
.project

# testing
/src/test

# production
/build

# misc
.env
.vscode
.settings


